/* Style pour le mode nuit */
.dark-theme {
    background-color: #222;
    /* Couleur de fond sombre */
    color: #fff;
    /* Couleur du texte clair */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#about {
    padding: auto;
    margin: 100px 400px;
    ;
    background-color: rgba(241, 236, 236, 0.649);
    text-align: start;
}

#projects {
    padding: auto;
    margin: 100px 400px;
    ;
    background-color: rgba(241, 236, 236, 0.649);
    text-align: start;

}

.theme {
    color: #fff;
    background-color: rgb(59, 16, 145);
}

header {
    background-color: #6004acc1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}



header img {

    header img {
        width: 150px;
        height: auto;/ border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    width: 100%;
    height: 10px;
}

nav ul li {

    display: inline;
    margin-right: 20px;
}

p {
    display flex: ;
    font-size: 1em;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


font-family: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
;

}

nav ul li a {
    ;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    padding: auto;
    margin: 100px 400px;
    ;
    background-color: rgba(241, 236, 236, 0.649);
    text-align: start;
}

#contact-form {
    padding: auto;
    margin: 100px 400px;
    ;
    background-color: rgba(241, 236, 236, 0.649);
    text-align: start;
}

footer {
    background-color: #6004acc1;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}